/* style.css */

* {
    box-sizing: border-box;
}

body {
    line-height: 1.6em;
    font: 16px 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
    color: #707070;
    background: #eee;
    background-image: linear-gradient(to bottom, #d7d7d7 0%, #eeeeee 116px);
    background-repeat: no-repeat;
}

hgroup {
    text-align: center;
    margin-top: 2em;
}

hgroup .logo {
    width: 160px;
    height: 160px;
}

hgroup h1 {
    font-size: 1.5em;
}

#profile_data {
    text-align: left;
    white-space: pre-wrap
}

.container {
    width: 39%;
    margin: 2em auto;
    padding: 2em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

/* Button */

.button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: 1em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #3160B6;
    cursor: pointer;
    transition: all 0.15s ease;
    font-weight: bold;
}

.button:focus {
    outline: 0;
}


/* Button modifiers */

.buttonBlue {
    background: #4a89dc;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover {
    background: #357bd8;
}

footer {
    text-align: center;
    width: 500px;
    margin: 2em auto;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

footer p {
    color: #888;
    font-size: 13px;
    letter-spacing: .4px;
}

footer a {
    color: #4a89dc;
    text-decoration: none;
    transition: all .2s ease;
}

footer a:hover {
    color: #666;
    text-decoration: underline;
}

footer img {
    width: 80px;
    transition: all .2s ease;
}

footer img:hover {
    opacity: .83;
}

footer img:focus,
footer a:focus {
    outline: none;
}

/* TABLE */

table {
	table-layout: fixed;
	width: 98%; 
	border: 3px solid black;
	border-collapse: collapse;
}

th, td {
	white-space: pre-wrap;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
	overflow: hidden
}

thead {
	color: rgb(48, 48, 48);
	background-color: #aad2ff;
	border: 3px solid black;
	border-collapse: collapse;
}

thead th:nth-child(1) {
	width: 38%;
	min-width: 30px;
}

thead th:nth-child(2) {
	width: 62%;
}

tr:nth-child(even) {
	background-color: #f5f5f5c4;
}

tbody tr:hover {
	background-color: #aeb1ff;
}