body {
	padding: 0px 20px;
	color: black;
	font-family: Arial;
}

.banner {
	/*display: inline-block;*/
}

h1 {
	font-family: Didact Gothic, Muli, Lucida Sans, Sans Serif;
}

.title {
	font-size: 30px;
	line-height: 57px;
	color: #002147;
	font-weight: bold;
	margin-right: .5em;
    text-decoration: none !important;
}

.title span {
	color:#ccc;
}

#github {
	background-image:url('/images/github.png');
	background-size: 120%;
	top: -100px;
	left: 50%;
}

#discord {
	background-image:url('/images/discord.png');
	top: -100px;
	left: 50%;
}

#container, #container a {
	text-decoration: none !important;
	color: rgb(77, 73, 73);
}

#subtitles {
	position: relative;
	top: -80px;
	color: rgb(136, 126, 126);
	text-decoration: none;
	cursor: pointer
}

#subtitles a:hover {
	color: rgb(22, 22, 29)
}

/* TABLE */

#module {
	position: relative;
	top: -80px;
}

table {
	table-layout: fixed !important;
	width: 98%; 
	border: 3px solid black;
	border-collapse: collapse;
	background: url("/images/background-light.jpg");
	background-color: #c3c4df;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left top;
}

th, tr, td {
	white-space: pre-wrap;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
	overflow: hidden
}

thead {
	color: rgb(223, 233, 255);
	text-transform: uppercase;
	background-color: #002147;
	border: 3px solid black;
	border-collapse: collapse;
}

thead th:nth-child(1) {
	width: 20%;
	min-width: 30px;
}

thead th:nth-child(2) {
	width: 50%;
}

thead th:nth-child(3) {
	width: 30%;
}

th, thead {
	font-weight: bold;
	text-align: center;
	overflow: hidden;
}

th span {
	display: inline-block;
	padding: 5px;
	margin: 5px;
	background: rgba(0,155,191,.3);
	border: 1px solid #009bbf;
	color: rgb(5, 0, 49);
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	text-shadow: "5px 5px 2px black"
}

/*
.module {
}*/

tr:nth-child(even) {
	background-color: #f5f5f5c4;
}

tbody tr:hover {
	background-color: #aeb1ff;
}

/*Arrow Box*/

.sliders_container {
	position: relative;
	top: -80px;
	width: 61.9%;
	z-index: 0;
}

.log_box {
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
	background: #002366;
	border-left-style: visible;
    cursor: pointer;
}

.log_box:after {
	border-left-color: #002366;
}

.arrow_box {
	position: relative;
	border: 4px solid #c2e1f5;
	border-left-style: hidden;
	border-right-style: hidden;
	width: 33.3%
}
.arrow_box:after, .arrow_box:before {
	position: absolute;
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	margin: 0 auto;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-width: 45px;
	margin-top: -45px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #002366;
	border-width: 45px;
	margin-top: -45px;
}

/*LOG LINKS TRANSITIONS*/

.log_link {
	position: absolute;
	top: -4px;
	height: 100%;
	transition: .5s ease;
	left: 100%;
	width: 0;
	overflow: hidden;
	z-index: -1;
}

.log_link1 {
	background-color: green;
}

.log_link2 {
	background-color: red;
}

.log_link1:after {
	border-left-color: green;
}

.log_link2:after {
	border-left-color: red;
}

.text {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(50%, 0%);
	-ms-transform: translate(50%, 0%);
	transform: translate(-25%, 0%);
	white-space: nowrap;
}

/*BUTTONS*/

.button {
	display: inline-block;
	text-align: center;
	position: relative;
	border: 4px solid #c2e1f5;
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
	background-clip: border-box;
    width: 50px;
    height: 50px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    text-indent: 100%;
	white-space:nowrap;
}